@import "scss/config";

.block {
  @include make-spacer('mb', 4)
}

.panel {
  @include make-spacer('mb', 4);

  background-color: var(--material);

  &:last-child {
    margin-bottom: 0;
  }
}

.wrapper,
.table {
  @include make-spacer('p', 2);
}

.table {
  @include flex($direction: column);

  &.reverse {
    flex-direction: column-reverse;
  }
}

.sort {
  @include make-spacer('px', 4);
  @include flex($align-items: center);

  border-bottom: 1px solid var(--border);
  height: 40px;
}

.row {
  @include make-spacer('py', 2);
  @include make-spacer('py', 0, md);
  @include flex($align-items: center);

  min-height: 38px;

  &:nth-child(odd) {
    background-color: var(--primary);
  }
}

.cell {
  @include make-spacer('pl', 2);

  overflow: hidden;
  white-space: nowrap;
}
