@import "../../scss/config";

.block {
  border: 1px solid red;
}

.head {
  background-color: var(--color-secondary);
}

.wrapper {
  @include flex($align-items: center);
  @include size(100%, 45px);
}

.top {
  background-color: #0074b6;
}

.link {
  @include flex(center, center);
  @include make-spacer('px', 2);

  position: relative;
  height: 100%;
  font-size: 14px;

  &::after {
    @include size(0, 4px);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    transition: var(--default-transition);
    content: '';
  }

  &:hover,
  &.active {
    color: var(--color-primary);

    svg {
      fill: var(--color-primary);
    }
  }

  &.active {

    &::after {
      width: 100%;
    }
  }
}

.icon {
  @include make-spacer('mr', 2);
  @include size(20px);
}
